<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mama Duck Profile</title>
</head>
<body>
        <table src="templates\analisisgrafo.html"></table>
        <iframe src="templates\graph.html" width="1000" height="1000" frameborder="2" scrolling="yes" ></iframe>

        <iframe src="templates\demo.html" width="1000" height="1000" frameborder="1" scrolling="yes"></iframe>

    <iframe src="templates\output_file.txt" width="1000" height="1000" frameborder="1" scrolling="no"></iframe>

</body>
</html>